#jeden{
    background-color: rgba(61,24,52,.25)
}
#dwa{
    background-color: rgba(25,84,32,.25)
}
#tekst1{
    color: aliceblue;
    background-color: #0d1c32;
    width: 50%
        }
#tekst2{
    color: aliceblue;
    background-color: #071122;
    width: 25%;
        width: 32em;
        
}
